.App {
  width: 70vw;
  margin: 0 auto;
}
.container {
  position: relative;
  max-width: 90vh;
  margin: 0 auto;
  background: none;
  border-radius: 3px;
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Question Component */
h2{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2rem;
  color: $color-blue;
  padding: 2rem 2.5rem 2rem 2.5rem;
}

/* AnswerOption Component */
.answerOption {
  border-top: 1px solid $color-blue;
  line-height: 1.3;
  list-style-type: none;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1.2rem;
  color: white;
  padding: 2rem;

  &:hover {
    background-color: rgba(51, 207, 255, 0.1);
    font-weight: 700;

    & input[type=radio] + label {
      background: url('https://lh3.googleusercontent.com/QSVgoBuOonsWKUZm6m0NKwekEvkfMOWrPFfevisISZjzeu2uQkxMOY1MUh3QgorRu2qc1kwKX4So7-mGJ-hayMAitq15L63KQNBfsOcm1qmWDU657CNl4lauYhgVz7f59IMrZBg8FWdgh26VDCvGMwUqaK6CBVv13AdKbxDMeDqiZS73EgzF5kBW5smh1nxCY5Gqk8yCmDsYh4KixdZWKGW7BqXLZn7cB2fQV4-o0DePjN69GJLXmddJ6H32CBgiFKE4smBvb1ByWpREmRYpFEUaHuQdbhHiiebI4Kipz35I6OxsVxKC6HOIQC3Xk6JVePhgudB2_-8Nyq2M9rWqIap8kAhmN-FI8iRdSLXhTV4FEeTHqokQ0qEXEZ5N9dRKoXT3al1Alcwrson_OtaALHldR9O7BO6Iq5_BV7-ERpoSYD8wGGhCcWQbjKkz5qHTa8yWRAfZaCLnK8Dzs0DPJtgMjQirittz8cpQQxQM4fhzXvG2x_Dtev4Y1YcZbzsaU6FpamC188SkjEDGOjYnf6CTk0VVbPk1DXFPIEGbOmc7b1unsq7uHOOkuRkGnTQ_d8aLNNPpeDvxP4agpI-ycfdH2ciG4sRXSKcdeAXGIHhNaI9T=w25-h24-no') left top no-repeat;
      min-height: 3px;
    }
  }

}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  background: url('https://lh3.googleusercontent.com/CSygHWUdWSpIIfoPv3gwc0PctzOTVFGSCcSel4lOtxBBofmpt1QJxOF8MwrXbi0lIxxnKw2Cj6btMFTJZIGxWpkNpHZL41cOa5sgeSgtlsmat7YjkQlrU2XbmhPrxZwElMf9hucSAfEgF0VRLQy58ATRdf1mQULv5VcfnWFyus03KF8Egtg_pwW1_LRnklFEAUUZ_TyzEqFM3cp6G_aDyQpNCKxNvoLWkrcV-tgxqxQGAqC45JAkWWNXSxKgXD8TINX_xO1oml6fh_qVC32SwSQZqkk8Mkhvi2V3DSME0BzcS7wlku5tUK9ijkksro3Wp9kS7Ng4kyPDpkhZAh0kaiKXe4vUXfpZhhXuVjMwaP04HmMFJ7tjKt7bKvIHo0LcKv1zbbQsJ5ZTbI9wRabnUk9dWZtKE0w9BwiNbHuw1JrJBzmSCon9aQZD2DCD72DZEgaUchpdWKi-jShqHvrhaUYUeOUQiImDmo9NBKocQIW76p69uns8tbm1XXohE6tc-PKj8Cx66YtZLm4oUsvppee7Sw92GBFNvMPP9BGZSvxZmpV6TV5rNga1JBJOCMKw76SuYRNob9jCPmjzVMYjmFN8GknmaqOti7kh-QP7IlTUleyq=w25-h24-no') left top no-repeat;
  display: block;
  min-height: 25px;
  padding-left: 35px;
}






//
//.radioCustomLabel {
//  position: relative;
//  width: 100%;
//  margin: 80px;
//  padding: 3.5rem 2.5rem 1.5rem 5rem;
//  font-size: 16px;
//  line-height: 1.5;
//  transition: all 0.3s;
//}
//input[type=radio]:checked + .radio:before {
//  content: "";
//  font-size: 18px;
//  color: #ed4a13;
//}
//.radioCustomButton:checked ~ .radioCustomLabel:after {
//  content: '';
//  background: $color-blue;
//  border: 1px solid $color-blue;
//  background-size: 17px;
//}