.result {
  padding: 5.5rem 2.5rem;
}
.resultUserData{
  padding-bottom: 5vw;
  & h1 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 3vw;
    & strong{
      color: $color-blue;
    }
  }
  & h3 {
    padding-top: 3rem;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 0.8rem;
  }
}

.resultList {
  margin: 0 auto;
  display: flex;
  position: relative;
  padding-top: 40vh;
  & .usersList{
    width: 40vw;
    justify-content: center;
  }
  & li{
    border-bottom: 1px solid $color-blue;
    font-size: 1 rem;
    line-height: 6vh;
  }
}

.resultCounter {
  padding: 2.5rem 2.5rem 0;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 3.4rem;
  line-height: 3.8rem;
  color: $color-blue;
  & strong{
    font-weight: 700;
    color: $color-blue;
  }
}

